<div
  id="deleteModal"
  class="fixed inset-0 flex items-center justify-center <%= user.settings.theme === 'dark' ? 'bg-dark-background text-dark-text' : 'bg-background text-text' %> bg-opacity-50 hidden z-40"
>
  <div
    class="   bg-opacity-50 w-full h-full flex justify-center items-center my-auto"
  >
    <div
      class="<%= user.settings.theme === 'dark' ? 'bg-dark-sixth' : 'bg-sixth' %> rounded-lg p-3 md:p-6 w-11/12 md:w-2/3 lg:w-1/2 relative shadow-lg"
    >
      <h2
        class="text-sm md:text-base lg:text-lg font-semibold <%= user.settings.theme === 'dark' ? ' text-dark-primary' : ' text-primary' %> mb-4"
      >
        Confirm Deletion
      </h2>
      <p
        class="text-sm md:text-base lg:text-lg font-semibold <%= user.settings.theme === 'dark' ? ' text-dark-secondary' : ' text-primary-secondary' %> mb-4"
      >
        Are you sure you want to delete this blog? This action cannot be undone.
      </p>
      <div  class="grid mt-2 grid-cols-2 gap-2 text-xs md:text-sm lg:text-base">
        <button
          onclick="closeDeleteModal()"
          class="<%= user.settings.theme === 'dark' ? 'bg-dark-fifth text-dark-primary' : 'bg-secondary text-sixth' %> hover:bg-tertiary px-4 py-2 rounded"
        >
          Cancel
        </button>
        <button
          onclick="confirmDelete()"
          class="<%= user.settings.theme === 'dark' ? ' bg-dark-fourth' : ' bg-primary' %> hover:bg-red-500 text-white px-4 py-2 rounded"
        >
          Confirm Delete
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  let selectedBlogSlug = null;

  function openDeleteModal(slug) {
    selectedBlogSlug = slug;
    document.getElementById("deleteModal").classList.remove("hidden");
  }

  function closeDeleteModal() {
    document.getElementById("deleteModal").classList.add("hidden");
    selectedBlogSlug = null;
  }

  async function confirmDelete() {
    

    try {
      const response = await fetch(`/api/blog/delete/${selectedBlogSlug}`, {
        method: "DELETE",
        headers: {
          "Content-Type": "application/json",
        }
      });

      const data = await response.json();
      if (response.ok) {
        alert("Blog deleted successfully");
        closeDeleteModal();
        window.location.reload();
      } else {
        alert(data.message || "Error deleting blog");
      }
    } catch (error) {
      console.error("Error:", error);
      alert("An error occurred. Please try again.");
    }
  }
</script>
