<h1
  class="text-lg md:text-xl lg:text-2xl <%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-tertiary' %> font-semibold py-1 px-2 md:py-2 md:px-5 lg:px-10 lg:py-5 font-lora mt-8 mb-2 md:mb-4"
>
  Blogs from Your Favorite Authors
</h1>

<div class="relative group mx-2 md:mx-5 lg:mx-10">
  <button
    class="absolute h-full left-0 top-1/2 transform -translate-y-1/2 <%= user.settings.theme === 'dark' ? 'bg-dark-secondary text-dark-text' : 'bg-secondary text-text' %> bg-opacity-20 px-4 py-2 hidden group-hover:block"
    id="prev"
  >
    &#10094;
  </button>

  <div
    id="blogsByFavouriteAuthors"
    class="flex overflow-x-scroll scroll-smooth gap-2 md:gap-2 flex-1 w-full"
  ></div>

  <button
    class="absolute h-full right-0 top-1/2 transform -translate-y-1/2 <%= user.settings.theme === 'dark' ? 'bg-dark-secondary text-dark-text' : 'bg-secondary text-text' %> bg-opacity-20 px-4 py-2 hidden group-hover:block"
    id="next"
  >
    &#10095;
  </button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const carouselContainer = document.getElementById(
      "blogsByFavouriteAuthors"
    );

    function fetchBlogs() {
      let blogs = <%- JSON.stringify(authorBlog) %>;

      if (blogs.length > 0) {
        const slidesHtml = blogs
          .map(
            (blog) => `
                  <div class="min-w-[50%] md:min-w-[30%] lg:min-w-[25%] flex-shrink-0 font-lora flex-1 min-h-full  flex-grow <%= user.settings.theme === 'dark' ? 'shadow-white-lg' : 'shadow-lg' %>">
  <div
    class="flex justify-center items-center bg-no-repeat bg-cover text-white rounded-md h-full w-full "
    style="
      background-image: url('${blog.blogPhoto}');
    "
  >
    <div
      class="rounded-lg overflow-hidden w-full bg-black bg-opacity-30 p-3 h-full box-border flex-grow "
    >
      <div class="flex justify-end">
        <p
          class="px-2 py-1 rounded-lg <%= user.settings.theme === 'dark' ? 'bg-dark-secondary' : 'bg-background text-background' %> bg-opacity-30 text-white text-xxxs   md:text-xxs  lg:text-xs font-semibold font-sans uppercase"
        >
          ${blog.tags[0]}
        </p>
      </div>
      <div class="flex flex-col w-full  h-[90%] box-content justify-between">
        <div class="h-14 sm:h-16  md:h-20 lg:h-28 box-border"></div>
        <p class="text-xxxs md:text-xxs lg:text-xs font-mono <%= user.settings.theme === 'dark' ? ' text-dark-secondary' : 'text-sixth' %>">
          ${new Date(blog.createdAt).toLocaleDateString("en-US", {
            day: "numeric",
            month: "numeric",
            year: "numeric",
          })}
        </p>
        <h5 class="w-full text-xs sm:text-sm md:text-base lg:text-lg  font-semibold break-words whitespace-normal <%= user.settings.theme === 'dark' ? ' text-dark-text' : 'text-background' %> ">
           ${truncateText(blog.title, 50)}
        </h5>
        <p class=" <%= user.settings.theme === 'dark' ? ' text-dark-primary' : 'text-background' %> text-xxxs sm:text-xxxs md:text-xxs lg:text-xs font-thin break-words whitespace-normal ">
          ${truncateText(blog.description, 100)}
          <span><a
            href="/blog/${blog.slug}"
            class=" <%= user.settings.theme === 'dark' ? ' text-dark-primary' : 'text-background' %> hover:text-highlight text-center"
            >read more</a
          >
        </span>
        </p>
        <div class="justify-between items-center flex text-xxxs sm:text-xxs md:text-xs lg:text-sm">
          
          <a class="flex items-center gap-2" href="/profile/${
            blog.author.slug
          }" >
            <img
              src="${blog.author.avatar}"
              alt="${blog.author.firstname}'s avatar"
              class="w-8 h-8 lg:w-10 lg:h-10 rounded-full"
            />
            <div>
              <h3 class=" font-semibold <%= user.settings.theme === 'dark' ? ' text-dark-secondary' : 'text-fifth' %>">
                ${blog.author.username}
              </h3>
              <p class="text-xxxs sm:text-xxs md:text-xs lg:text-xs <%= user.settings.theme === 'dark' ? ' text-dark-tertiary' : 'text-sixth' %> ">
                ${blog.author.firstname} ${blog.author.lastname}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> `
          )
          .join("");

        carouselContainer.innerHTML = slidesHtml;
      } else {
        document.getElementById("favoriteAuthorsBlog").style.display = "none";
      }
    }

    fetchBlogs();

    const next = document.getElementById("next");
    const prev = document.getElementById("prev");

    next.addEventListener("click", () => {
      carouselContainer.scrollBy({
        left: carouselContainer.clientWidth,
        behavior: "smooth",
      });
    });

    prev.addEventListener("click", () => {
      carouselContainer.scrollBy({
        left: -carouselContainer.clientWidth,
        behavior: "smooth",
      });
    });

    function truncateText(text, maxLength) {
      if (text.length > maxLength) {
        return text.substring(0, maxLength) + "...";
      }
      return text;
    }
  });
</script>
