<div
  class="fixed inset-0<%= user.settings.theme === 'dark' ? 'bg-dark-primary text-dark-text' : ' text-text bg-primary' %>  bg-opacity-50 flex items-center justify-center hidden z-50 p-5 md:p-0 backdrop-blur-sm w-full h-full font-lora"
  id="featureModalInfo"
>
  <div
    class="<%= user.settings.theme === 'dark' ? 'bg-dark-background text-dark-text' : 'bg-white text-gray-900' %>  p-4 rounded-lg w-full m-auto md:w-2/3"
  >
    <input type="text" id="modalBlogInfoId" hidden />
    <div id="blogContent">
      <p class="text-center">Loading blog information...</p>
    </div>
  </div>
</div>

<%- include("../partials/changeFeaturedModal.ejs") %>

<script>
  async function showChangeFeaturedModal(blogId) {
    document.getElementById("modalChangeBlogInfoId").value = blogId;
    document.getElementById("changeFeaturedModal").classList.remove("hidden");
    searchBlog("");
  }

  function closeShowChangeFeaturedModal() {
    const modal = document.getElementById("changeFeaturedModal");

    modal.classList.add("hidden");
  }

  window.addEventListener("click", function (event) {
    const modalChange = document.getElementById("changeFeaturedModal");
    if (event.target === modalChange) {
      closeShowChangeFeaturedModal();
    }
  });

  async function removeFeatured(blogId) {
    console.log(blogId);
    const response = await fetch(`/api/payment/featured/remove`, {
      method: "PATCH",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        blogId: blogId,
      }),
    });
    if (response.ok) {
      document.getElementById("featureModalInfo").classList.add("hidden");
       Toastify({
                text: "Blog removed from featured successfully!",
                duration: 4000,
                gravity: "top",
                position: "right",
                backgroundColor: "linear-gradient(to right, #ff416c, #ff4b2b)", // Elegant reddish gradient
                stopOnFocus: true,
                close: true,
                style: {
                  borderRadius: "10px",
                  boxShadow: "0 4px 12px rgba(0, 0, 0, 0.1)",
                  fontSize: "15px",
                  padding: "14px 18px",
                  fontFamily: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif",
                  color: "#fff"
                }
              }).showToast();
      window.location.reload();
    } else {
      Toastify({
                text: "Failed to remove blog from featured.",
                duration: 4000,
                gravity: "top",
                position: "right",
                backgroundColor: "linear-gradient(to right, #e52d27, #b31217)",
                stopOnFocus: true,
                close: true,
                style: {
                  borderRadius: "10px",
                  boxShadow: "0 4px 12px rgba(0, 0, 0, 0.1)",
                  fontSize: "15px",
                  padding: "14px 18px",
                  fontFamily: "'Segoe UI', Tahoma, Geneva, Verdana, sans-serif",
                  color: "#fff"
                }
              }).showToast();
    }
  }

  async function loadFeatureModalInfo() {
    const blogId = document.getElementById("modalBlogInfoId").value;
    const modal = document.getElementById("featureModalInfo");
    const response = await fetch(
      `/api/payment/search?paymentType=featured&blog=${blogId}&featured=true`
    );
    if (response.ok) {
      const data = await response.json();
      console.log(data, data.payments.length, data.payments.length > 0);
      if (data.payments.length > 0) {
        console.log(data.payments[0]);
        const blog = data.payments[0].blog;
        const user = data.payments[0].user;
        const payment = data.payments[0];
        const currentDate = new Date();

        const differenceInMs =
          currentDate - new Date(payment.blog.featuredDetails.featuredAt);

        const daysPassed = Math.floor(differenceInMs / (1000 * 60 * 60 * 24));
        let buttonHtml = "";
        console.log("feature duration",payment.featuredDetails.featureDuration);
        console.log("days passed",daysPassed);
        if ( daysPassed < 5) {
          buttonHtml = `
          <div class="flex justify-end items-center gap-2">
          
          <button class="px-4 py-2 rounded-md border border-red-300 text-sm font-medium <%= user.settings.theme === 'dark' ? 'text-gray-300 hover:bg-dark-primary' : 'text-red-700 hover:bg-gray-100' %> transition duration-200 font-roboto" onclick="removeFeatured('${blog._id}')">
              Remove 
          </button>

          <button class="px-4 py-2 rounded-md bg-blue-500 hover:bg-blue-700 text-white text-sm font-medium shadow-md transition duration-200 font-roboto" onclick="showChangeFeaturedModal('${blog._id}')">
              Change Blog
          </button>
          </div>
      `;
        }

        document.getElementById("blogContent").innerHTML = `
        <div class="md:grid md:grid-cols-2 gap-2">

          <div class="flex items-center justify-between col-span-2 ">
      <h2
        class="text-xl font-semibold font-sans"
      >
        Blog Featured Details
      </h2>
      <button
            onclick="closeFeatureInfoModal()"
            class="text-gray-400 hover:text-red-500 transition duration-200 text-xl"
            aria-label="Close"
          >
            &times;
          </button>
      </div>
         
            <img src="${blog.blogPhoto}" alt="${
          blog.title
        }" class="rounded-lg w-42  h-42"/>
        <div class="flex flex-col justify-between">
        <div>
           <h2 class="text-lg md:text-2xl font-bold mb-4 break-words <%= user.settings.theme === 'dark' ? 'text-dark-primary' : ' text-primary' %>">${
              blog.title
            }</h2>
            <p class="<%= user.settings.theme === 'dark' ? 'text-dark-secondary' : ' text-secondary' %>">Featured on: ${new Date(
              payment.featuredDetails.featuredAt
            ).toLocaleDateString()}</p>
             <p class="<%= user.settings.theme === 'dark' ? 'text-dark-secondary' : ' text-secondary' %>">Days passed since featured: ${daysPassed} days</p>
    <p class="<%= user.settings.theme === 'dark' ? 'text-dark-secondary' : ' text-secondary' %>">Amount deducted: ${
      payment.currency
    } ${payment.amount}</p>

</div>
    ${buttonHtml}
    
    </div>
     </div>
`;
      } else {
        document.getElementById(
          "blogContent"
        ).innerHTML = `<p>No blog information found for this ID.</p>`;
      }
    } else {
      document.getElementById(
        "blogContent"
      ).innerHTML = `<p>Failed to fetch blog information.</p>`;
    }
  }
</script>
