<div
  id="popout-modal"
  class="fixed inset-0 flex justify-center items-center <%= user.settings.theme === 'dark' ? 'bg-dark-background text-dark-text' : 'bg-background text-text' %> bg-opacity-60 backdrop-blur-md backdrop-brightness-125 backdrop-grayscale-0 hidden z-50 font-lora"
>
  <div
    class="bg-gray-800 bg-opacity-50 w-full h-full flex justify-center items-center my-auto"
  >
    <div
      class="<%= user.settings.theme === 'dark' ? 'bg-dark-background' : 'bg-white' %>  rounded-lg p-3 md:p-6 w-11/12 md:w-2/3 lg:w-1/2 relative shadow-lg"
    >
      <h2
        class="text-sm md:text-base lg:text-lg font-semibold <%= user.settings.theme === 'dark' ? ' text-dark-primary' : ' text-secondary' %> mb-4"
      >
        Write a Blog
      </h2>
      <form
        id="blogCreateForm"
        action="/api/blog/new"
        method="POST"
        enctype="multipart/form-data"
      >
        <%- include("../partials/popoutFormField.ejs") %>
        <div
          class="grid mt-2 grid-cols-2 gap-2 text-xs md:text-sm lg:text-base"
        >
          <button
            type="button"
            id="close-popout"
            class="py-2 px-4 <%= user.settings.theme === 'dark' ? ' bg-dark-fourth' : ' border-secondary text-secondary bg-sixth' %>  rounded-md hover:bg-red-400 hover:text-white font-roboto"
          >
            Close
          </button>
          <button
            type="submit"
            class="py-2 px-4 <%= user.settings.theme === 'dark' ? 'bg-dark-fifth text-dark-primary' : 'border-sixth text-sixth bg-secondary' %> rounded-md hover:bg-blue-400 hover:text-white font-roboto"
            
          >
            New
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  
  document
    .getElementById("close-popout")
    .addEventListener("click", function () {
      document.getElementById("popout-modal").classList.add("hidden");
    });

  document
    .getElementById("popout-modal")
    .addEventListener("click", function (event) {
      if (event.target.id === "popout-modal") {
        document.getElementById("popout-modal").classList.add("hidden");
      }
    });
</script>
