<div
  class="p-4 sm:p-4 md:p-6 lg:p-8 <%= user.settings.theme === 'dark' ? 'bg-dark-sixth text-dark-text' : 'bg-primary ' %> sticky top-0 md:block gap-1 sm:gap-2 md:gap-4 md:min-h-screen font-lora hidden"
>
<% if (featuredBlogs) { %>
  <img
    draggable="false"
    src="<%= profile && profile.avatar ? profile.avatar : '/images/defaultProfile.png' %>"
    alt="profile photo"
    class="max-w-45 w-full sm:max-w-full h-40 w-30 sm:h-52 rounded-md shadow-md object-cover border aspect-square border-gray-300"
  />
<% } else { %>

  <div class="relative">
    <img
      src="<%= profile.avatar ? profile.avatar : '/images/defaultProfile.png' %>"
      alt="Profile Photo"
      id="profileImage"
      class="max-w-45 w-full sm:max-w-full h-40 w-30 sm:h-52 rounded-md shadow-md object-cover border aspect-square border-gray-300"
    />
  
    <div class="absolute top-2 right-2 flex flex-col justify-center">
      <button
        type="button"
        class="flex items-center gap-2 text-sm text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300 font-medium transition"
        onclick="document.getElementById('avatar').click();"
      >
        <img src="/images/icons/editDarkIcon.svg" alt="Edit Icon" class="w-8 h-8 invert transition-all duration-300 hover:scale-105" />
      </button>
  
      <input
        type="file"
        name="avatar"
        id="avatar"
        accept="image/*"
        class="hidden"
        onchange="handleFileChange(event)"
      />
    </div>
  </div>

 
<% } %>

  <div class="flex flex-col gap-2 md:gap-4 sm:mt-6 p-2 sm:p-0">
    <div class="flex justify-between">
      <h1
        class="text-left text-base sm:text-lg md:text-base lg:text-lg font-semibold whitespace-nowrap flex gap-1 items-end <%= user.settings.theme === 'dark' ? ' text-dark-secondary' : 'text-white' %>"
      >
        <span><%= profile.firstname %></span>
        <span><%= profile.lastname %></span>
        <p
          class="text-xs md:text-xxs lg:text-xs <%= user.settings.theme === 'dark' ? ' text-dark-tertiary' : 'text-fifth' %>"
        >
          <% if (profile.subscription === "pro") { %>
          <img
            draggable="false"
            src="images/icons/proIcon.svg"
            draggable="false"
            alt="pro icon"
            class="h-6 w-6"
          />
          <% } else if (profile.subscription === "elite") { %>
          <img
            draggable="false"
            src="images/icons/eliteIcon.svg"
            draggable="false"
            alt="elite icon"
            class="h-6 w-6"
          />
          <% } %>
        </p>
      </h1>
      <% if (user._id && (user._id.toString() !== profile._id.toString())) { %>

      <button onclick="openPopout()" class="">
        <img
          src="images/icons/verticalMoreIcon.svg"
          alt="more icon"
          class="h-6"
          draggable="false"
        />
      </button>
      <% } %>
    </div>

    <div class="grid grid-cols-3 gap-1 text-center font-roboto">
      <a
        href="/followers/<%= profile.slug%>"
        class="text-center cursor-pointer p-2 sm:p-1 md:p-2 hover:bg-tertiary rounded-md"
      >
        <h2
          class="text-xl font-semibold <%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-background hover:text-fifth' %>"
        >
          <%= profile.followers.length %>
        </h2>
        <p
          class="<%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-fifth' %> text-xs"
        >
          Followers
        </p>
      </a>
      <a
        href="/profile/<%= profile.slug%>"
        class="text-center cursor-pointer p-2 sm:p-1 md:p-2 hover:bg-tertiary rounded-md"
      >
        <h2
          class="text-xl font-semibold <%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-background hover:text-fifth' %>"
        >
          <%= profile.blogs.length %>
        </h2>
        <p
          class="<%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-fifth' %> text-xs"
        >
          Blogs
        </p>
      </a>
      <a
        href="/following/<%= profile.slug%>"
        class="text-center cursor-pointer p-2 sm:p-1 md:p-2 hover:bg-tertiary rounded-md"
      >
        <h2
          class="text-xl font-semibold <%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-background hover:text-fifth' %>"
          id="followingCountDetail"
        >
          <%= profile.following.length %>
        </h2>
        <p
          class="<%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-fifth' %> text-xs"
        >
          Following
        </p>
      </a>
    </div>

    <div class="grid grid-cols-4 w-4/5 m-auto sm:w-full gap-2 md:gap-3">
      <% if (profile.github) { %>
      <a href="https://github.com/<%= profile.github %>" target="_blank">
        <img
          draggable="false"
          src="/images/icons/githubIcon.svg"
          alt="GitHub"
          class="h-6 w-6 hover:scale-105 transition-transform mx-auto <%= user.settings.theme === 'dark' ? '' : '' %> rounded-md bg-fourth p-1"
        />
      </a>
      <% } else { %>
      <img
        draggable="false"
        src="/images/icons/noneIcon.svg"
        alt="no data"
        class="h-6 w-6 rounded-md cursor-not-allowed transition-transform mx-auto <%= user.settings.theme === 'dark' ? '' : 'invert bg-slate-300' %>"
      />
      <% } %> <% if (profile.linkedin) { %>
      <a href="https://linkedin.com/in/<%= profile.linkedin %>" target="_blank">
        <img
          draggable="false"
          src="/images/icons/linkedinIcon.png"
          alt="LinkedIn"
          class="h-6 w-6 rounded-md hover:scale-105 transition-transform mx-auto <%= user.settings.theme === 'dark' ? '' : '' %>"
        />
      </a>
      <% } else { %>
      <img
        draggable="false"
        src="/images/icons/noneIcon.svg"
        alt="no data"
        class="h-6 w-6 rounded-md cursor-not-allowed transition-transform mx-auto <%= user.settings.theme === 'dark' ? '' : 'invert bg-slate-300' %>"
      />
      <% } %> <% if (profile.twitter) { %>
      <a href="https://twitter.com/<%= profile.twitter %>" target="_blank">
        <img
          draggable="false"
          src="/images/icons/twitterIcon.png"
          alt="Twitter"
          class="h-6 w-6 rounded-md hover:scale-105 transition-transform mx-auto <%= user.settings.theme === 'dark' ? '' : '' %>"
        />
      </a>
      <% } else { %>
      <img
        draggable="false"
        src="/images/icons/noneIcon.svg"
        alt="no data"
        class="h-6 w-6 rounded-md cursor-not-allowed transition-transform mx-auto <%= user.settings.theme === 'dark' ? '' : 'invert bg-slate-300' %>"
      />
      <% } %> <% if (profile.email) { %>
      <a href="mailto:<%= profile.email %>" target="_blank">
        <img
          draggable="false"
          src="/images/icons/emailIcon.png"
          alt="Email"
          class="h-6 w-6 rounded-md hover:scale-105 transition-transform mx-auto <%= user.settings.theme === 'dark' ? '' : '' %>"
        />
      </a>
      <% } else { %>
      <img
        draggable="false"
        src="/images/icons/noneIcon.svg"
        alt="no data"
        class="h-6 w-6 rounded-md cursor-not-allowed transition-transform mx-auto <%= user.settings.theme === 'dark' ? '' : 'invert bg-slate-300' %>"
      />
      <% } %>
    </div>

    <% if (user._id && (user._id.toString() !== profile._id.toString())) { %>
    <div class="grid grid-cols-1 gap-1">
      <button
        id="followButton"
        class="w-full bg-blue-500 text-white font-bold rounded-md hover:bg-blue-600 outline-none transition-transform hover:scale-105 p-1 sm:py-2 sm:px-4 text-xs sm:text-sm md:text-base font-roboto"
        onclick="toggleFollow( '<%= profile.slug %>')"
      >
        <%= profile.followers.includes(user._id) ? "Unfollow" : "Follow" %>
      </button>
    </div>

    <% } %>

    <div>
      <!-- <h3 class="text-xs sm:text-sm md:text-base lg:text-lg font-semibold text-white mb-2 hidden sm:block">
        profile's Tags
      </h3> -->
      <% if (Array.isArray(profile.tags) && profile.tags.filter(tag => tag.trim().length > 0).length > 0) { %>
      <div class="flex flex-wrap gap-2 w-full">
        <% profile.tags.forEach(function(tag) { %>
        <span
          class="inline-block <%= user.settings.theme === 'dark' ? 'text-dark-secondary border-dark-secondary' : ' border-sixth text-sixth ' %>bg-transparent bg-opacity-35 text-xs md:text-xxs lg:text-xs border sm:border rounded-md sm:rounded-lg px-1 sm:px-2 sm:py-1 hover:scale-105 transition-transform font-roboto uppercase"
        >
          <%= tag.trim() %>
        </span>
        <% }) %>
      </div>
      <% } else { %>
      <p
        class="text-sm sm:text-xs lg:text-sm border-2 bg-transparent text-center border-dark-text text-dark-text rounded-lg p-1"
      >
        No tags available
      </p>
      <% } %>
    </div>

    <div class="sm:pb-5">
      <p
        class="text-xs md:text-xs lg:text-sm <%= user.settings.theme === 'dark' ? ' text-dark-secondary' : 'text-sixth' %> flex items-center gap-2"
      >
        <img
          draggable="false"
          src="/images/icons/locationIcon.png"
          alt="Location"
          class="h-3 w-3 sm:h-4 sm:w-4 md:w-5 md:h-5"
        />
        <span>
          <%= profile.country && profile.state ? `${profile.country} -
          ${profile.state}` : "Location" %>
        </span>
      </p>

      <div class="col-span-2 w-full">
        <!-- Hidden Content (Shown Only When Button is Clicked) -->
        <div
          id="toggleContent"
          class="hidden md:block transition-all duration-300 ease-in-out mt-2"
        >
          <div
            class="text-xxs md:text-xs lg:text-sm <%= user.settings.theme === 'dark' ? ' text-dark-secondary border-dark-tertiary' : 'text-fifth border-tertiary' %> border-t-2 pt-4"
          >
            <span id="profileBio" class="break-words overflow-clip">
              <% if (profile.bio && profile.bio.trim()) { %> <%= profile.bio %>
              <% } else { %>
              <span class="text-gray-400">
                ▫️ Write something about yourself.<br />
                ▫️ Your background, skills, or interests.<br />
                ▫️ What do you do or love to build?<br />
                ▫️ Let people know who you are!
              </span>
              <% } %>
            </span>
          </div>

          <div class="sm:pt-2 col-span-2">
            <%- include("./similarUsers.ejs") %>
          </div>
        </div>

        <!-- Toggle Button (Shown Only on Small Screens) -->
        <button
          id="toggleButton"
          class="md:hidden w-full text-center flex items-center justify-center"
        >
          <img
            draggable="false"
            src="/images/icons/downArrow.png"
            alt=""
            class="w-5 h-5 <%= user.settings.theme === 'dark' ? ' invert' : '' %>"
            id="toggleImage"
          />
        </button>
      </div>
    </div>
  </div>
</div>

<!-- mobile screen -->
<div
  class="flex flex-col items-center p-4 md:hidden text-sm pt-8 <%= user.settings.theme === 'dark' ? 'bg-dark-sixth text-dark-text' : 'bg-primary ' %> top-0"
>
  <div class="w-full mb-4 font-roboto flex justify-evenly mt-5">
    <% if (featuredBlogs) { %>
    <img
      draggable="false"
      src="<%= profile && profile.avatar ? profile.avatar : '/images/defaultProfile.png' %>"
      alt="Profile Photo"
      class="w-24 h-24 sm:w-28 sm:h-28 rounded-md border-2 border-gray-300 object-cover cursor-pointer shadow-md transition-all duration-300 hover:scale-105"
      id="profileImage"
      onclick="openFeaturedPopout('<%= profile.slug %>')"
    />
    <% } else { %>

      <div class="relative">
        <img
          src="<%= profile.avatar ? profile.avatar : '/images/defaultProfile.png' %>"
          alt="Profile Photo"
          id="profileImageMobile"
          class="w-24 h-24 sm:w-28 sm:h-28 rounded-md border-2 border-gray-300 object-cover cursor-pointer shadow-md "
        />
      
        <div class="absolute top-1 right-1 flex flex-col justify-center">
          <button
            type="button"
            class="flex items-center gap-2 text-sm text-blue-600 hover:text-blue-800 dark:text-blue-400 dark:hover:text-blue-300 font-medium transition"
            onclick="document.getElementById('avatar').click();"
          >
            <img src="/images/icons/editDarkIcon.svg" alt="Edit Icon" class="w-5 h-5 invert transition-all duration-300 hover:scale-105" />
          </button>
      
          <input
            type="file"
            name="avatar"
            id="avatar"
            accept="image/*"
            class="hidden"
            onchange="handleFileChange(event)"
          />
        </div>
      </div>
    
     
    <% } %>


    <div class="grid grid-cols-3 text-center">
      <!-- Name + Badge -->
      <div class="w-full col-span-3 flex gap-2 items-center justify-center">
        <h2
          class="font-semibold text-base <%= user.settings.theme === 'dark' ? ' text-dark-secondary' : 'text-white' %>"
        >
          <%= profile.firstname %> <%= profile.lastname %>
        </h2>
        <% if (profile.subscription === "pro") { %>
        <img
          draggable="false"
          src="images/icons/proIcon.svg"
          draggable="false"
          alt="pro icon"
          class="h-6 w-6"
        />
        <% } else if (profile.subscription === "elite") { %>
        <img
          draggable="false"
          src="images/icons/eliteIcon.svg"
          draggable="false"
          alt="elite icon"
          class="h-6 w-6"
        />
        <% } %>
      </div>

      <a
        href="/followers/<%= profile.slug%>"
        class="text-center cursor-pointer p-2 sm:p-1 md:p-2 hover:bg-tertiary rounded-md flex justify-center flex-col items-center"
      >
        <h2
          class="text-xl font-semibold <%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-background hover:text-fifth' %>"
        >
          <%= profile.followers.length %>
        </h2>
        <p
          class="<%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-fifth' %> text-xs"
        >
          Followers
        </p>
      </a>
      <a
        href="/profile/<%= profile.slug%>"
        class="text-center cursor-pointer p-2 sm:p-1 md:p-2 hover:bg-tertiary rounded-md flex justify-center flex-col items-center"
      >
        <h2
          class="text-xl font-semibold <%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-background hover:text-fifth' %>"
        >
          <%= profile.blogs.length %>
        </h2>
        <p
          class="<%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-fifth' %> text-xs"
        >
          Blogs
        </p>
      </a>
      <a
        href="/following/<%= profile.slug%>"
        class="text-center cursor-pointer p-2 sm:p-1 md:p-2 hover:bg-tertiary rounded-md flex justify-center flex-col items-center"
      >
        <h2
          class="text-xl font-semibold <%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-background hover:text-fifth' %>"
          id="followingCountDetailMobile"
        >
          <%= profile.following.length %>
        </h2>
        <p
          class="<%= user.settings.theme === 'dark' ? ' text-dark-text' : ' text-fifth' %> text-xs"
        >
          Following
        </p>
      </a>
    </div>
  </div>

  <!-- Tags -->
  <div class="w-full mb-3 flex flex-col justify-center items-center">
    <!-- <h3 class="text-xs sm:text-sm md:text-base lg:text-lg font-semibold text-white mb-2 hidden sm:block">
      profile's Tags
    </h3> -->
    <% if (Array.isArray(profile.tags) && profile.tags.length > 0) { %>
    <div class="flex flex-wrap justify-center items-center gap-2 w-full">
      <% profile.tags.forEach(function(tag) { %>
      <span
        class="inline-block <%= user.settings.theme === 'dark' ? 'text-dark-secondary border-dark-secondary' : ' border-sixth text-sixth ' %>bg-transparent bg-opacity-35 text-sm border sm:border rounded-md sm:rounded-lg px-1 sm:px-2 sm:py-1 hover:scale-105 transition-transform font-roboto uppercase"
      >
        <%= tag.trim() %>
      </span>
      <% }) %>
    </div>
    <% } else { %>
    <p
      class="text-sm sm:text-xs lg:text-sm border-2 bg-transparent text-center border-dark-text text-dark-text rounded-lg p-1"
    >
      No tags available
    </p>
    <% } %>
  </div>

  <% if ( user && user._id && profile && profile._id && user._id.toString() !==
  profile._id.toString() ) { %>
  <div class="w-full flex justify-between gap-2 mb-4">
    <button
      onclick="toggleFollow( '<%= profile.slug %>')"
      id="followButtonMobile"
      class="flex-1 py-1 text-sm bg-blue-500 text-white hover:bg-blue-600 rounded-md font-medium"
    >
      <%= profile.followers.includes(user._id) ? "Unfollow" : "Follow" %>
    </button>
    <button
      onclick="openPopout()"
      class="py-1 px-3 text-sm border rounded-md text-white bg-transparent hover:bg-gray-600"
    >
      ⋯
    </button>
  </div>
  <% } %>

  <div class="w-full mb-3">
    <p
      class="text-sm break-words <%= user.settings.theme === 'dark' ? ' text-dark-secondary border-dark-tertiary' : 'text-fifth border-tertiary' %> text-center"
    >
      <% if (profile.bio && profile.bio.trim()) { %> <%= profile.bio %> <% }
      else { %>
      <span class="text-gray-400">
        ▫️ Write something about yourself.<br />
        ▫️ Share what you love or build.<br />
        ▫️ Connect with your audience.<br />
        ▫️ Make your profile stand out!
      </span>
      <% } %>
    </p>
  </div>

  <!-- Social Icons -->
  <div class="flex justify-around w-full max-w-xs mb-2">
    <% if (profile.github) { %>
    <a href="https://github.com/<%= profile.github %>" target="_blank">
      <img
        draggable="false"
        src="/images/icons/githubIcon.svg"
        alt="GitHub"
        class="h-6 w-6 rounded-md bg-fourth p-1"
      />
    </a>
    <% } %> <% if (profile.linkedin) { %>
    <a href="https://linkedin.com/in/<%= profile.linkedin %>" target="_blank">
      <img
        draggable="false"
        src="/images/icons/linkedinIcon.png"
        alt="LinkedIn"
        class="h-6 w-6"
      />
    </a>
    <% } %> <% if (profile.twitter) { %>
    <a href="https://twitter.com/<%= profile.twitter %>" target="_blank">
      <img
        draggable="false"
        src="/images/icons/twitterIcon.png"
        alt="Twitter"
        class="h-6 w-6"
      />
    </a>
    <% } %> <% if (profile.email) { %>
    <a href="mailto:<%= profile.email %>">
      <img
        draggable="false"
        src="/images/icons/emailIcon.png"
        alt="Email"
        class="h-6 w-6"
      />
    </a>
    <% } %>
  </div>
</div>

<script>
  let startTime = Date.now();

  window.addEventListener("beforeunload", function () {
    let timeSpent = Math.round((Date.now() - startTime) / 1000);

    gtag("event", "profile_time_spent", {
      event_category: "Profile",
      event_label: "<%= profile.username %>",
      time_spent: timeSpent,
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggleButton = document.getElementById("toggleButton");
    const toggleContent = document.getElementById("toggleContent");
    const toggleImage = document.getElementById("toggleImage");
    let isOpen = false;

    toggleButton.addEventListener("click", function () {
      isOpen = !isOpen;
      if (isOpen) {
        toggleContent.classList.remove("hidden");
        toggleImage.src = "/images/icons/upArrow.png";
      } else {
        toggleContent.classList.add("hidden");
        toggleImage.src = "/images/icons/downArrow.png";
      }
    });
  });
</script>
<script>

  function truncateText(text, maxLength) {
    if (text.length > maxLength) {
      return text.substring(0, maxLength) + "...";
    }
    return text;
  }

  const profileBio = document.getElementById("profileBio");

  const bioText = profileBio.innerText;

  const truncatedBio = truncateText(bioText, 500);

  profileBio.innerText = truncatedBio;
  const profile = <%- JSON.stringify(profile) %>;

  if (profile) {
    window.toggleFollow =  async function toggleFollow(profileSlug) {
      event.preventDefault();
      const followButton = document.getElementById("followButton");
      try {
        const response = await fetch(`/api/user/follow/${profileSlug}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        });

        if (response.ok) {
          const followButton = document.getElementById("followButton");
          const followButtonMobile = document.getElementById("followButtonMobile");
          const data = await response.json();

          alert(data.message);

          followButton.innerText =
            followButton.innerText === "Follow" ? "Unfollow" : "Follow";
          followButtonMobile.innerText =
            followButtonMobile.innerText === "Follow" ? "Unfollow" : "Follow";

            const followingCount = document.getElementById("followingCount");
         followingCount.innerText = data.followingCount;


          if (followButton.innerText === "Follow" || followButtonMobile.innerText === "Follow") {
            gtag("event", "follow_user", {
              event_category: "Profile",
              event_label: "User Followed",
              followed_user_id: "<%= profile._id %>",
              follower_user_id: "<%= user._id %>",
            });

          }
        } else {
          console.error("Error following/unfollowing the profile.");
        }
      } catch (error) {
        console.error("An error occurred:", error);
      }
    }
  }
</script>
