<div
  class="flex flex-col-reverse md:grid md:grid-cols-2 gap-6 p-5 md:p-20"
>
  <div class="hidden md:flex justify-center items-center flex-col ">
    <h2
      class="text-base sm:text-lg md:text-2xl font-bold <%= user.settings.theme === 'dark' ? 'text-dark-primary' : 'text-gray-800' %>   md:mb-4 text-center"
    >
      Forgot Your Password?
    </h2>
    <img
    src="images/signinImg.png"
      alt="Sign-in image"
      class="h-60 sm:h-80 md:h-80"
    />
    <p
      class="text-xs sm:text-base md:text-lg md:font-semibold my-4 md:mt-2 md:mb-6 text-center <%= user.settings.theme === 'dark' ? 'text-dark-secondary' : 'text-purple-950 ' %>"
    >
      Enter the 6-digit OTP sent to your email to securely reset your password.
    </p>
  </div>
  <div
    class="max-w-7xl mx-auto md:mx-5 my-auto p-8 rounded-lg shadow-lg   backdrop-blur-md border  <%= user.settings.theme === 'dark' ? 'bg-dark-sixth border-dark-secondary text-dark-secondary ' : 'border-secondary  bg-background bg-opacity-10' %>"
  >
    <h1
      class="text-lg sm:text-xl md:text-2xl font-bold text-center md:mb-2 flex justify-center items-center gap-2"
    >
      <img src="images/logoImg/logo.png"  class="h-10" alt="logo Img" />Password
      Reset
    </h1>
    <h2
      class="text-sm sm:text-base md:text-lg <%= user.settings.theme === 'dark' ? 'text-dark-secondary' : 'text-purple-950 ' %> md:font-semibold my-4 md:mt-2 md:mb-6  text-center"
    >
      Please enter the 6-digit OTP.
    </h2>
    <form id="otpForm" class="space-y-6">
      <div class="h-16">
        <label for="otp" class="block text-sm font-medium  <%= user.settings.theme === 'dark' ? 'text-dark-secondary' : 'text-gray-700' %>  ">
          OTP
        </label>
        <input
          type="text"
          name="otp"
          id="otp"
          required
          pattern="\d{6}"
          maxlength="6"
          class="mt-1 block w-full px-3 py-2 border <%= user.settings.theme === 'dark' ? 'border-dark-secondary text-dark-secondary' : 'border-secondary text-secondary' %>  bg-transparent rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
        <p class="text-xs text-red-500 mt-1 hidden" id="otpError"></p>
      </div>
      <div>
        <button
          type="submit"
          class="w-full <%= user.settings.theme === 'dark' ? 'border-dark-secondary text-dark-secondary' : 'border-fourth text-fourth' %> border  font-medium hover:bg-blue-300 hover:border-background  hover:text-background py-2 px-4 rounded-md transition duration-300"
        >
          Submit OTP
        </button>
      </div>
    </form>
    <div class="text-xs md:text-sm text-center mt-4">
      <p>
        <span id="timer" class="<%= user.settings.theme === 'dark' ? 'text-dark-tertiary' : 'text-fourth' %> ">
          Resend OTP available in: 30s
        </span>
        <br />
        <a href="#" id="resendLink" class="hover:text-blue-500 <%= user.settings.theme === 'dark' ? 'text-dark-fourth' : 'text-fifth' %>">Resend OTP</a>
      </p>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    
    const username = "<%= user.username %>";

    if (username) {
      console.log(`Username: ${username}`);
    } else {
      console.error("Username parameter is missing");
    }

    const form = document.getElementById("otpForm");
    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const otp = document.getElementById("otp").value;

      if (username && otp) {
        try {
          const actionUrl = `/auth/verifyOTP?username=${username}&code=${otp}`;
          const res = await fetch(actionUrl, {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
            },
          });

          if (res.status !== 201) {
            throw new Error("Verification failed");
          }
          window.location.href = `/profile/reset`;
        } catch (error) {
          console.error("There was a problem with the fetch operation:", error);
        }
      } else {
        console.error("Username or OTP is missing");
      }
    });

    const resendLink = document.getElementById("resendLink");
    const timerDisplay = document.getElementById("timer");
    let canResend = true;
    const resendTimeout = 30000; 

    const updateResendLink = (enabled) => {
      resendLink.textContent = enabled ? "Resend OTP" : "Wait 30 seconds";
      resendLink.style.pointerEvents = enabled ? "auto" : "none";
      resendLink.style.color = enabled ? "#1d4ed8" : "#9ca3af"; 
    };

    const startResendCountdown = () => {
      let remainingTime = resendTimeout / 1000;
      updateResendLink(false);

      const countdown = setInterval(() => {
        if (remainingTime <= 0) {
          clearInterval(countdown);
          canResend = true;
          updateResendLink(true);
          timerDisplay.textContent = "Resend OTP available now";
        } else {
          remainingTime -= 1;
          timerDisplay.textContent = `Resend OTP available in: ${remainingTime}s`;
        }
      }, 1000); 
    };

    resendLink.addEventListener("click", (e) => {
      e.preventDefault();
      if (canResend) {
        
        console.log("Resending OTP...");
       
        startResendCountdown();
      }
    });

    
    startResendCountdown();
  });
</script>
