<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="/images/logoImg/logo.png">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body
    class="bg-[url('../images/backgroundImages/signupBackgroundImg.jpg')] bg-cover bg-center bg-no-repeat mt-0 top-0 pt-0 <%= user.settings.theme === 'dark' ? 'bg-dark-background text-dark-text' : 'bg-background text-text'  %>"
  ><%- include("../partials/profileHeader.ejs") %><%- include(view) %> <%- include("../partials/footer.ejs") %>
  </body>
</html>
