<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="/images/logoImg/logo.png" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css" />
     <!-- fonts setup -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-FG5BN3EY26"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "<%= user.googleAnalyticsId %>", {
      user_id: "<%= user._id %>",
    });
  </script>
  <body
    class="bg-[url('../images/backgroundImages/signupBackgroundImg.jpg')] bg-cover bg-center bg-no-repeat mt-0 top-0 pt-0 <%= user.settings.theme === 'dark' ? 'bg-dark-background text-dark-text' : 'bg-background text-text' %>"
  >
    <%- include("../partials/profileHeader.ejs") %><%- include(view) %> <%-
    include("../partials/footer.ejs") %>
  </body>
</html>
