<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/images/logoImg/logo.png">
    <title><%= title %></title>
    <base href="/" />
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body
    class="<%= user.settings.theme === 'dark' ? 'bg-dark-background text-dark-text' : 'bg-background text-text' %>"
  >
    <%- include("../partials/profileNavbar.ejs") %>
    <div class="relative flex">
      <div
        id="content"
        class="flex-1 w-screen transition-all duration-300 h-full pt-11"
      >
        <%- include(view) %>
      </div>
      <% if(isAuthenticated) { %>
      <%- include("../partials/profileSidebar.ejs") %>
      <% } %>
    </div>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
