<div class=""><%- include("../partials/featuredBlogs.ejs") %></div>

<div><%- include("../partials/popularBlogs.ejs") %></div>

<div><%- include("../partials/favoriteAuthorsBlog.ejs") %></div>

<div><%- include("../partials/latestBlogs.ejs") %></div>
<div><%- include("../partials/editorsPick.ejs") %></div>